<app-barra-navegacion-inicio></app-barra-navegacion-inicio>
<section class="container mt-5 ">
  <div class="row justify-content-center">
    <div class="col-md-6 ">
      <h4>Misión</h4>
      <span
        >Comercializar y rentar vehículos con servicios afines a un alto grado
        de profesionalismo, para generar entusiasmo y fidelidad en nuestros
        clientes, con el compromiso de nuestra gente para alcanzar la
        rentabilidad esperada por los accionistas.
      </span>
    </div>
    <div class="col-md-2 mt-3">
        <div class="container">
            <img src="../../../../assets/img/carro1.png" alt="image1" />
        </div>
    </div>
  </div>
</section >
<section class="container mt-2">
  <div class="row justify-content-center">
    <div class="col-md-2 mt-2">
        <div class="container">
            <img src="../../../../assets/img/carro3.png" alt="image1" />
        </div>
    </div>
    <div class="col-md-6 mt-2">
      <h4>Visión</h4>
      <span
        >Obtener el reconocimiento como concesionario líder en el sector
        automotriz, en la comercialización y renta de vehículos a nivel
        nacional.
      </span>
    </div>
  </div>
</section>
<section class="container mt-5">

    <div class="row justify-content-center ">
      <h3 >Disfruta de las mejores experiencias en uno de nuestros vehiculo</h3>
      <div class="col-md-2 mt-3">
          <img src="../../../../assets/img/carro4.png" alt="image4" />
      </div>
      <div class="col-md-2 mt-3">
          <img src="../../../../assets/img/carro5.png" alt="image5" />
      </div>
      <div class="col-md-2 mt-3">
          <img src="../../../../assets/img/carro6.png" alt="image6" />
      </div>
    </div>


</section>
<br>
<app-pie-pagina-inicio></app-pie-pagina-inicio>
