<app-barra-navegacion-administrador></app-barra-navegacion-administrador>
<div class="container">
  <h4>Eliminar Ciudad</h4>
<form [formGroup]="fgValidador" method="post" >
  <div class="form-group mt-2" hidden>
    <label for="id">Id</label>
    <input type="text" formControlName="id" id="id"  class="form-control" readonly >
</div>
  <div class="form-group mt-2">
    <label for="ciudad">Cuidad</label>
    <input type="text" formControlName="ciudad" id="ciudad"  class="form-control">
</div>
<div class="form-group mt-3">
  <button [disabled]="!fgValidador.valid" (click)="EliminarCiudad()"class=" btn btn-primary">Eliminar</button>
  <a routerLink="/administrador/listar-ciudad" class="btn btn-outline-secondary">Cancelar</a>
</div>
</form>
</div>
