<app-barra-navegacion-administrador></app-barra-navegacion-administrador>
<div class="container">
  <h4>Listado de ciudades</h4>
  <a class="btn btn-primary" routerLink="/administrador/crear-ciudad">Crear ciudad</a>
  <table class="table table table-sm">
    <thead>
        <tr>
          <th hidden>Id</th>
          <th>Nombre</th>
          <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of listadoRegistros">
        <td hidden>{{p.id}}</td>
        <td>{{p.ciudad}}</td>
        <td>
            <a class="btn btn-outline-secondary" routerLink="/administrador/actualizar-ciudad/{{p.id}}">Editar</a>
            <a class="btn btn-outline-danger"  routerLink="/administrador/eliminar-ciudad/{{p.id}}">Eliminar</a>
        </td>
    </tr>
  </tbody>
  </table>

</div>
