img{
    height: 600px;
}

.title h4{
    text-align: left;
    color: #A7703D;
    font-family: inter;
}

.subtitle span{
    margin-top: 4;
    font-size: 9;
}

input.ng-touched.ng-invalid{
  border: solid 2px tomato;
}
input.ng-valid{
  border: solid 2px green;
}

select.ng-touched.ng-invalid{
  border: solid 2px tomato;
}
select.ng-valid{
  border: solid 2px green;
}
