<app-barra-navegacion-inicio></app-barra-navegacion-inicio>
<div class="row">
    <div class="col-sm-12 col-lg-6">
        <img class="d-block w-80" src="../../../../assets/img/contactenos.png"  alt=""  >
    </div>
    <div  class="col-sm-12 col-lg-6 mt-3">
        <div class="title">
            <h4>Contactenos</h4>
        </div>
        <div class="subtitle">
            <span>Cuentanos cuales son tus inquietudes, nuestro equipo trabajara para
                brindarte la mejor atención. </span>
        </div>
        <div class="container mt-3">


        <form [formGroup]="fgValidador" method="post" (ngSubmit)="contacto()" >
            <div class="row">
              <div class="form-group col-6 ">
                <label for="nombres">Nombres</label>
                <input type="text" formControlName="nombres"  class="form-control">
                <div *ngIf="getValue('nombres')?.errors?.['required'] && (getValue('nombres')?.touched ||getValue('nombres')?.dirty)">El campo es requerido</div>
            </div>
            <div class="form-group col-6">
                <label for="apellidos">Apellidos</label>
                <input type="text" formControlName="apellidos" class="form-control">
                <div *ngIf="getValue('apellidos')?.errors?.['required'] && (getValue('apellidos')?.touched ||getValue('apellidos')?.dirty)">El campo es requerido</div>
            </div>
            </div>
              <div class= "row">
                <div class="form-group col-6">
                  <label for="correo">Correo</label>
                  <input type="email" formControlName="correo" class="form-control">
                  <div *ngIf="getValue('correo')?.invalid && (getValue('correo')?.touched ||getValue('correo')?.dirty) ">Ingrese un correo valido</div>
              </div>
              <div class="form-group col-6">
                  <label for="celular">Celular</label>
                  <input type="text" id="cellphone" formControlName="celular" class="form-control">
                  <div *ngIf="getValue('celular')?.invalid && (getValue('celular')?.touched || getValue('celular')?.dirty) ">Debe de contener como minimo 10 números.</div>
              </div>
              </div>

            <div class="form-group mt-2">
                <label for="tipo">Tipo</label>
                <select name="tipo" id="type" formControlName="tipo" class="form-control">
                    <option value="">Seleccione una opción</option>
                    <option value="Comprar">Comprar</option>
                    <option value="Arrendar">Arrendar</option>
                </select>
                <div *ngIf="getValue('tipo')?.invalid && (getValue('tipo')?.touched ||getValue('tipo')?.dirty) ">Seleccione un valor</div>
            </div>
            <div class="form-group mt-2">
                <label for="mensaje">Mensaje</label>
                <textarea class="form-control" formControlName="mensaje"  cols="15" rows="5"></textarea>
                <div *ngIf="getValue('mensaje')?.errors?.['required'] && (getValue('mensaje')?.touched ||getValue('mensaje')?.dirty)">El campo es requerido</div>
            </div>
            <div class="form-group mt-3">
                <button [disabled]="!fgValidador.valid" type="submit" class=" btn btn-primary">Enviar</button>
                <a href="inicio/inicio" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
        </div>
    </div>
</div>
<app-pie-pagina-inicio></app-pie-pagina-inicio>
