<div class="row">
    <div class="col-sm-12 col-lg-6">
        <img src="../../../../assets/img/contactenos.png"  alt=""  >
    </div>
    <div  class="container col-sm-12 col-lg-6 mt-3">
        <div class="title">
            <h4>Contactenos</h4>
        </div>
        <div class="subtitle">
            <span>Cuentanos cuales son tus inquietudes, nuestro equipo trabajara para 
                brindarte la mejor atención. </span>
        </div>              
        <form action="">
            <div class="form-group mt-2">
                <label for="nombre">Nombres</label>
                <input type="text" id="name" name="nombres" class="form-control">
            </div>
            <div class="form-group mt-2">
                <label for="apellido">Apellido</label>
                <input type="text" id="surname" name="apellido" class="form-control">
            </div>
            <div class="form-group mt-2">
                <label for="correo">Correo</label>
                <input type="email" id="email" name="correo" class="form-control">
            </div>
            <div class="form-group mt-2">
                <label for="celular">Celular</label>
                <input type="text" id="cellphone" name="celular" class="form-control">
            </div>
            <div class="form-group mt-2">
                <label for="tipo">Tipo</label>
                <select name="tipo" id="type" class="form-control">
                    <option value="1">Comprar</option>
                    <option value="2">Arrendar</option>
                </select>
            </div>
            <div class="form-group mt-2">
                <label for="mensaje">Mensaje</label>
                <textarea class="form-control" name="mensaje" id="message" cols="15" rows="5"></textarea>
            </div>
            <div class="form-group mt-3">            
                <button type="submit" class=" btn btn-primary">Enviar</button>
                <a href="inicio/inicio" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>    
</div> 

