<app-barra-navegacion-administrador></app-barra-navegacion-administrador>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <ul class="list-group">

      </ul>
      <div class="card mt-4">
        <div class="card-body">
          <div class="card-title">
            Ingrese un empleados
          </div>
          <div class="form-group">
            <form [formGroup]="fgValidador" method="post" (ngSubmit)="addOrEdit()">
              <div class="form-group mt-2 col-6">
                <label for="documento">Id</label>
                <input type="text" [(ngModel)]="seleccionarEmpleado.id" readonly formControlName="id"  class="form-control">
              </div>
              <div class="row">
                <div class="form-group mt-2 col-6">
                  <label for="documento">Documento</label>
                  <input type="text" [(ngModel)]="seleccionarEmpleado.documento" formControlName="documento" name="documento" class="form-control">
                  <div *ngIf="getValue('documento')?.invalid && (getValue('documento')?.touched ||getValue('documento')?.dirty) ">Debe de contener como minimo 6 números.</div>

                </div>
                <div class="form-group mt-2 col-6">
                  <label for="nombres">Nombres</label>
                  <input type="text" [(ngModel)]="seleccionarEmpleado.nombres" formControlName="nombres" name="nombres" class="form-control">
                  <div *ngIf="getValue('nombres')?.errors?.['required'] && (getValue('nombres')?.touched ||getValue('nombres')?.dirty)">El campo es requerido</div>
                </div>
              </div>

              <div class="row">
                <div class="form-group mt-2 col-6">
                  <label for="apellidos">Apellidos</label>
                  <input type="text" [(ngModel)]="seleccionarEmpleado.apellidos" formControlName="apellidos" name="apellidos" class="form-control">
                  <div *ngIf="getValue('apellidos')?.errors?.['required'] && (getValue('apellidos')?.touched ||getValue('apellidos')?.dirty)">El campo es requerido</div>
                </div>
                <div class="form-group mt-2 col-6">
                  <label for="correo">Correo</label>
                  <input type="email" [(ngModel)]="seleccionarEmpleado.correo" formControlName="correo" name="correo" class="form-control">
                  <div *ngIf="getValue('correo')?.invalid && (getValue('correo')?.touched ||getValue('correo')?.dirty) ">Ingrese un correo valido</div>
                </div>
              </div>

              <div class="row">
                <div class="form-group mt-2 col-6">
                  <label for="celular">Celular</label>
                  <input type="tel" [(ngModel)]="seleccionarEmpleado.celular" formControlName="celular" maxlength="10"  name="celular" class="form-control">
                  <div *ngIf="getValue('celular')?.invalid && (getValue('celular')?.touched || getValue('celular')?.dirty) ">Debe de contener como minimo 10 números.</div>
                </div>
                <div class="form-group mt-2 col-6">
                  <label for="cargo">Cargo</label>
                  <select name="" id="" class="form-control" [(ngModel)]="seleccionarEmpleado.cargoEmpleadoId" formControlName="cargo" >
                    <option *ngFor="let c of listadoCargos" value="{{c.id}}">{{c.cargoEmpleado}}</option>
                  </select>
                  <div *ngIf="getValue('cargo')?.invalid && (getValue('cargo')?.touched ||getValue('cargo')?.dirty) ">Seleccione un valor</div>
                </div>
              </div>
              <div class="form-group mt-3 ">
                <button [disabled]="!fgValidador.valid" type="submit" class=" btn btn-primary">Crear</button>
                <button type="reset" class=" btn btn-primary">Limpiar</button>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5"></div>
  </div>
</div>


<div >
  <h4>Listado Empleados</h4>
  <a class="btn btn-primary" routerLink="/administrador/crear-empleado" >Crear Empleado</a>
    <table class="table table-hover">
      <thead>
          <tr>
            <th >Id</th>
            <th>Documento</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Correo</th>
            <th>Celular</th>
            <th>Cargo</th>
          </tr>
      </thead>
      <tbody >
        <tr  *ngFor="let p of listadoRegistros" (click)="openForEdit(p)" [class.active]="p==seleccionarEmpleado" >

          <td >{{p.id}}</td>
          <td>{{p.documento}}</td>
          <td>{{p.nombres}}</td>
          <td>{{p.apellidos}}</td>
          <td>{{p.correo}}</td>
          <td>{{p.celular}}</td>
          <td>{{p.cargoEmpleadoId}}</td>
      </tr>
    </tbody>
    </table>
</div>
