<div class="row">
    <div class="col-sm-12 col-lg-6">
        <img src="../../../../assets/img/carro4.png" height="500px" alt=""  >
    </div>
    <div  class="container col-sm-12 col-lg-6 mt-5">
        <div class="title">
            <h4>Regístrese</h4>
        </div>
        <div class="subtitle">
            <span>Se parte de una gran familia y vive una gran experiencia en uno de nuestros vehiculos</span>
        </div>         
        <form action="">
            <div class="form-group mt-2">
                <label for="nombre">Nombres</label>
                <input type="text" id="name" name="nombres" class="form-control">
            </div>
            <div class="form-group mt-2">
                <label for="apellido">Apellido</label>
                <input type="text" id="surname" name="apellido" class="form-control">
            </div>
            <div class="form-group mt-2">
                <label for="correo">Correo</label>
                <input type="email" id="email" name="correo" class="form-control">
            </div>
            <div class="form-group mt-2">
                <label for="celular">Celular</label>
                <input type="text" id="cellphone" name="celular" class="form-control">
            </div>
            <div class="col-12">
                <a href="seguridad/identificacionCliente">¿Ya tiene cuenta?</a>
            </div>
            <div class="form-group mt-2">            
                <button type="submit" class="form-control btn btn-primary">Aceptar</button>
            </div>
        </form>
    </div>    
</div> 

    
   
