<div class="row">
    <div class="col-sm-12 col-lg-6">
        <img src="../../../../assets/img/carro4.png" height="500px" alt=""  >
    </div>
    <div  class="container col-sm-12 col-lg-6 mt-5">
        <div class="title">
            <h4>Regístrese</h4>
        </div>
        <div class="subtitle">
            <span>Se parte de una gran familia y vive una gran experiencia en uno de nuestros vehiculos</span>
        </div>         
        <form action="">
            <div class="form-group mt-2">
                <label for="name">Nombres</label>
                <input type="text" id="name"  class="form-control" required>
                <div class="invalid-feedback">
                    ingrese el nombre
                </div>
            </div>
            <div class="form-group mt-2">
                <label for="surname">Apellido</label>
                <input type="text" id="surname"  class="form-control" required>
                <div class="invalid-feedback">
                    ingrese el apellido
                </div>
            </div>
            <div class="form-group mt-2">
                <label for="email">Correo</label>
                <input type="email" id="email"  class="form-control"  required>
                <div class="invalid-feedback">
                    ingrese un correo valido
                </div>
            </div>
            <div class="form-group mt-2">
                <label for="cellphone">Celular</label>
                <input type="text" id="cellphone" class="form-control" required>
                <div class="invalid-feedback">
                    ingrese el celular
                </div>
            </div>
            <div class="col-12">
                <a href="seguridad/identificacionCliente">¿Ya tiene cuenta?</a>
            </div>
            <div class="form-group mt-2">            
                <button type="submit" class="form-control btn btn-primary">Aceptar</button>
            </div>
        </form>
    </div>    
</div> 

    
   
