<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-8">
              <h4>Listado Foto Vehiculos</h4>
            </div>
            <div class="col-1">
              <button type="button" ><i class="fas fa-sort"></i> </button>
            </div>
            <div class="col-1">
              <button type="button" (click)=" obtenerRegistrosFoto()"><i class="fas fa-redo-alt"></i></button>
            </div>
          </div>
        </div>
        <cdk-virtual-scroll-viewport itemSize="10" class="viewport">
          <div class="list-group"
            *cdkVirtualFor="let p of listadoFotos | paginate: { itemsPerPage: 10, currentPage: paginaActual }">
            <div class="card card-body list-group-item list-group-item-action">
              <div>
                <img src="{{p.nombre}}" alt="">
              </div>
              <button class="btn btn-outline-secondary" (click)="alEditar(p)"><i class="far fa-edit"></i></button>
              <button class="btn btn-outline-danger" (click)="alEliminar(p)"><i class="far fa-trash-alt"></i></button>
            </div>
          </div>
        </cdk-virtual-scroll-viewport>
        <pagination-controls (pageChange)="paginaActual = $event"></pagination-controls>
      </div>
    </div>
    <div class="col-8">
      <h4>Datos del Vehiculo</h4>
      <form [formGroup]="fgValidador" method="post">
        <div class="form-group mt-2 col-6" hidden>
          <label for="id">Id</label>
          <input type="text" [(ngModel)]="servicioFotoVehiculo.seleccionarFoto.id" formControlName="id" name="id"
            class="form-control">
          <div *ngIf="getValue('id')?.errors?.['required'] && (getValue('id')?.touched ||getValue('id')?.dirty)">El
            campo es requerido</div>
        </div>
        <div class="form-group mt-2 col-6">
          <label for="nombre">Nombre/ Url</label>
          <div>
            <img src="nombre" alt="">
          </div>
          <input type="text" [(ngModel)]="servicioFotoVehiculo.seleccionarFoto.nombre" formControlName="nombre"
            name="nombre" class="form-control">
          <div
            *ngIf="getValue('nombre')?.errors?.['required'] && (getValue('nombre')?.touched ||getValue('nombre')?.dirty)">
            El campo es requerido</div>
        </div>
        <div class="form-group mt-3 ">
          <button [disabled]="!fgValidador.valid" type="submit" class=" btn btn-primary" (click)="onSubmit()"><i
              class="fas fa-plus-circle"></i> Guardar</button>
          <button type="reset" class="btn btn-secondary"><i class="fas fa-sync-alt" (click)="limpiarFormulario()"></i>
            Limpiar</button>
        </div>
      </form>
    </div>
  </div>
</div>
