<div class="row">
    <div class=" col-sm-12 col-lg-6">
        <img src="../../../../assets/img/recuperar.png"  alt=""  >
    </div>
    <div  class="container  col-sm-12 col-lg-6 mt-5">
        <div class="title">
            <h4>Recuperar Contraseña</h4>
        </div>
        <div class="subtitle">
            <span>Ingrese el correo que tiene registrado.</span>
        </div> 
        
        <form action="">           
            <div class="form-group mt-3">
                <label for="correo">Correo</label>
                <input type="email" id="email" name="correo" class="form-control">
            </div>           
            <div class="form-group mt-3">            
                <button type="submit" class="btn btn-primary ">Recuperar</button>
                <a href="seguridad/identificacionCliente" class="btn btn-secondary">Cancelar</a>
            </div>
            <div class="form-group mt-2">            
               
            </div>
        </form>
    </div>    
</div> 
