<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <app-logo></app-logo>  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">         
          <li class="nav-item">
            <a class="nav-link" href="asesor/listar-asignacion">Asignaciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="asesor/listar-estudioSolicitud">Estudio Solicitudes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="asesor/estadisticas-solicitudes">Estadisticas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="inicio/inicio">Cerrar sesión</a>
          </li>
      
        </ul>
      </div>
    </div>
  </nav>
  
