<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="nav-left-section">
      <img src="../../../assets/img/Logo 1.jpeg" alt="logo">
      <a class="navbar-brand" href="#">JAMMING AUTOS</a>
    </div>  
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li *ngIf="seIncioSesion" class="nav-item">
          <a class="nav-link active" aria-current="page" href="inicio/inicio">Inicio</a>
        </li>
        <li *ngIf="seIncioSesion" class="nav-item">
          <a class="nav-link" href="inicio/sobreNosotros">Sobre Nosotros</a>
        </li>
        <li *ngIf="seIncioSesion" class="nav-item">
          <a class="nav-link" href="inicio/contactenos">Contactenos</a>
        </li>
        <li *ngIf="seIncioSesion" class="nav-item">
          <a class="nav-link" href="seguridad/registrarCliente">Regístrese</a>
        </li>
        <li *ngIf="!seIncioSesion" class="nav-item">
          <a class="nav-link" href="seguridad/identificacionCliente">Iniciar sesión</a>
        </li>    
      </ul>
    </div>
  </div>
</nav>

<ul class="navbar-nav">
  <li *ngIf="seIncioSesion" class="nav-item">
    <a class="nav-link active" aria-current="page" href="cliente/listar-solicitud">Solicitud vehiculos</a>
  </li> 
  <li *ngIf="!seIncioSesion" class="nav-item">
    <a class="nav-link" href="seguridad/cerrarSesión">Cerrar sesión</a>
  </li>  
</ul>

<ul class="navbar-nav">
  <li *ngIf="seIncioSesion" class="nav-item">
    <a class="nav-link active" aria-current="page" href="asesor/listar-asignacion">Asignaciones</a>
  </li>
  <li *ngIf="seIncioSesion" class="nav-item">
    <a class="nav-link" href="asesor/estadisticas-solicitudes">Estadisticas</a>
  </li>
  <li *ngIf="seIncioSesion" class="nav-item">
    <a class="nav-link" href="asesor/listar-estudioSolicitud">Estudio Solicitud</a>
  </li> 
  <li *ngIf="!seIncioSesion" class="nav-item">
    <a class="nav-link" href="seguridad/cerrarSesión">Cerrar sesión</a>
  </li>  
</ul>

<ul class="navbar-nav">
  <li *ngIf="seIncioSesion" class="nav-item">
    <a class="nav-link active" aria-current="page" href="administrador/listar-tipoVehiculo">Tipo vehiculo</a>
  </li>
<ul class="navbar-nav">
  <li *ngIf="seIncioSesion" class="nav-item">
    <a class="nav-link active" aria-current="page" href="administrador/listar-ciudad">Ciudades</a>
  </li>
  <li *ngIf="seIncioSesion" class="nav-item">
    <a class="nav-link" href="administrador/listar-Vehiculo">Catalogo vehiculos</a>
  </li>
  <li *ngIf="seIncioSesion" class="nav-item">
    <a class="nav-link" href="administrar/listar-detalleVehiculo">detalle vehiculos</a>
  </li>
  <li *ngIf="seIncioSesion" class="nav-item">
    <a class="nav-link" href="administrador/listar-empleado">Empleados</a>
  </li>
  <li *ngIf="!seIncioSesion" class="nav-item">
    <a class="nav-link" href="administrador/listar-solicitudVehiculo">Solicitud vehiculo</a>
  </li>    
  <li *ngIf="!seIncioSesion" class="nav-item">
    <a class="nav-link" href="administrador/estadisticas-ventas">Estadisticas</a>
  </li>
  <li *ngIf="!seIncioSesion" class="nav-item">
    <a class="nav-link" href="seguridad/cerrarSesión">Cerrar sesión</a>
  </li>     
</ul>